.no-result {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-weight: bold;
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 1rem;
  }